<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration                                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->

<!-- $Id: log4j.xml 34717 2005-08-08 18:15:31Z adrian $ -->

<!--
   | For more configuration infromation and examples see the Jakarta Log4j
   | owebsite: http://jakarta.apache.org/log4j
 -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

  <!-- A time/date based rolling appender -->
  <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="Threshold" value="DEBUG"/>
    <param name="File" value="${basedir}/target/test.log"/>
    <param name="Append" value="true"/>

    <!-- Rollover at midnight each day -->
    <param name="DatePattern" value="'.'yyyy-MM-dd"/>

    <!-- Rollover at the top of each hour
             <param name="DatePattern" exclude="'.'yyyy-MM-dd-HH"/>
    -->

    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c] %m%n"/>
    </layout>
  </appender>


  <!-- ============================== -->
  <!-- Append messages to the console -->
  <!-- ============================== -->

  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out"/>

    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c] %m%n"/>
    </layout>
  </appender>
  
  <!-- ================ -->
  <!-- Limit categories -->
  <!-- ================ -->

  <!-- Disable Apache DS logging -->
  <category name="org.apache">
    <priority value="OFF"/>
  </category>
  <category name="JdbmTable">
    <priority value="OFF"/>
  </category>
  <category name="LOG_CHANGES">
    <priority value="OFF"/>
  </category>
  <category name="JdbmIndex">
    <priority value="OFF"/>
  </category>
  <category name="DupsCursor">
    <priority value="OFF"/>
  </category>

  <category name="org.hibernate">
    <priority value="OFF"/>
  </category>

  <category name="org.jboss.logging">
    <priority value="OFF"/>
  </category>

  <!-- PicketLink IDM Root category. All logging messages. -->
  <category name="org.picketlink.idm">
    <priority value="OFF"/>
  </category>

  <!-- PicketLink IDM Root category. All logging messages. -->
  <category name="org.picketlink.idm.credential">
    <priority value="OFF"/>
  </category>

  <!-- PicketLink IDM Identity Store category. Only messages from identity stores. -->
  <category name="org.picketlink.idm.identity.store">
    <priority value="OFF"/>
  </category>

  <!-- PicketLink IDM File Identity Store category. -->
  <category name="org.picketlink.idm.identity.store.file">
    <priority value="OFF"/>
  </category>

  <!-- PicketLink IDM JPA Identity Store category. -->
  <category name="org.picketlink.idm.identity.store.jpa">
    <priority value="OFF"/>
  </category>

  <!-- PicketLink IDM LDAP Identity Store category. -->
  <category name="org.picketlink.idm.identity.store.ldap">
    <priority value="OFF"/>
  </category>

  <category name="org.picketlink.common">
    <priority value="INFO"/>
  </category>

  <!-- ======================= -->
  <!-- Setup the Root category -->
  <!-- ======================= -->

  <root>
    <appender-ref ref="CONSOLE"/>
    <!--appender-ref ref="FILE"/-->
  </root>
  
</log4j:configuration>
